<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="logo">Q</span>
            </a>
        </div>
    </div>
</nav>